{% extends 'base.html' %}

{% block content %}
    <form action="/edit/{{todo.id}}" method="post">
        <div class="task">
        <h2>Заголовок задачи</h2>
        </div>
        <textarea name="title" style="background-color: blue;" rows="5">{{todo.title}}</textarea>
        <h4>Детали для задачи<h4>
        <textarea name="details" rows="2" style="background-color: green;">{{todo.details}}</textarea>
        <label for="completed">Выполнено?</label>
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <select name="tag">
            {% for tag in tags %}
                <option {% if todo.tag == tag.value %}selected{% endif %} value={{ tag.value }}> {{ tag.value }}  </option>
            {% endfor %}
        </select>

        <button type="submit">Сохранить</button>
    </form>
{% endblock content %}
